.App {
  text-align: center;
  background-color: #232323;
  scrollbar-color: dark;
}

.AppBar {
  color: #000000;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-top: 10%;
  padding-bottom: 10%;
  z-index: 555;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

h1, p {
  color: #ffffff;
  font-family: Comfortaa;
}

.content {
  height: 500px;
}

body {
  background-color: #232323;
  margin: 0;
  padding: 0;
}